body {
  margin: 0%;
  font-family: sans-serif;
}

/*NavBar*/
.navBarBG {
  height: 67.75px;
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  background: rgb(255, 95, 109);
  background: linear-gradient(
    90deg,
    rgba(255, 95, 109, 1) 28%,
    rgba(255, 153, 114, 1) 100%
  );
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  z-index: 1030;
}

.navBarScroll {
  height: 67.75px;
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
  background: rgb(255, 95, 109);
  background: linear-gradient(
    90deg,
    rgba(255, 95, 109, 1) 28%,
    rgba(255, 153, 114, 1) 100%
  );
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  z-index: 1030;
}

.headerBox {
  height: 827px;
  width: 100%;
  /* background: rgb(255, 95, 109);
  background: linear-gradient(
    90deg,
    rgba(255, 95, 109, 1) 28%,
    rgba(255, 153, 114, 1) 100%
  ); */
  background-image: url('https://images.pexels.com/photos/38271/ipad-map-tablet-internet-38271.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.headerTextBox {
  margin-top: -100px;
  height: 233px;
  width: 800px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.headerTitle {
  font-size: 30px;
  display: flex;
  justify-content: center;
  color: rgb(255, 95, 109);
}

.headerDescrip {
  font-size: 18px;
  color: rgb(255, 95, 109);
}
.headerButton {
  margin-left: 300px;
  margin-top: 30px;
}

.menu {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-right: 60px;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

a:hover {
  color: #eec8c8;
}

.logo {
  font-weight: 900;
  color: white;
  font-size: 30px;
}

.greyText {
  color: #eec8c8;
}

/* Benefits */

.benefitsContainer {
  background-color: #faf9ff;
  height: 1200px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #212529;
  font-weight: 300;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media (min-width: 730px) {
  .benefitsContainer {
    display: flex;
    flex-direction: row;
    height: 454px;
    width: 100vw;
  }
}
@media (min-width: 811px) {
  .benefitsContainer {
    display: flex;
    flex-direction: row;
    height: 800px;
    width: 100vw;
  }
}
@media (min-width: 1200px) {
  .benefitsContainer {
    display: flex;
    flex-direction: row;
    height: 454px;
    width: 100vw;
  }
}

.cardBox {
  height: 269px;
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px 0 35px 0;
  margin: 20px;
}
.cardBox:hover {
  background-color: rgb(255, 95, 109);
  border-radius: 10px;
  color: white;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
/* 
.benefitDescription {
  color: #999999;
}

.benefitDescription:hover {
  color: white;

} */
/* CellPhone */
.cellContainer {
  background-color: white;
  height: 858px;
  width: 100vw;
}

/*Reviews*/
.reviewContainer {
  background: rgb(255, 95, 109);
  height: 329px;
  width: 100vw;
}

/*Pricing*/
.pricingContainer {
  background: #ffffff;
  height: 873px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.pricingCard {
  height: 444px;
  width: 360px;
  background-color: white;
  color: #212529;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px 0 35px 0;
  margin: 20px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
}

.pricingCard:hover {
  background-color: rgb(255, 95, 109);
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

/*Sell*/
.sellContainer {
  background: rgb(255, 95, 109);
  height: 329px;
  width: 100vw;
}

/*Contact*/
.contactContainer {
  background-color: white;
  height: 697px;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.formBox {
  margin-top: 70px;
  display: flex;
  width: 1139px;
  height: 567px;
  color: #212529;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
}

.form {
  display: flex;
  flex-direction: row;
  width: 684px;
  height: 567px;
  justify-content: center;
  align-items: center;
}

.mapApi {
  height: 567px;
  width: 455px;
}

.formItems {
  display: flex;
  flex-direction: column;
}

.name {
  height: 45px;
  width: 544px;
  border-radius: 5px;
  border: 1px solid #eeeeee;
  margin-bottom: 20px;
}

.email {
  height: 45px;
  width: 544px;
  border-radius: 5px;
  border: 1px solid #eeeeee;
  margin-bottom: 20px;
}

.message {
  height: 100px;
  width: 544px;
  border-radius: 5px;
  border: 1px solid #eeeeee;
  font-family: sans-serif;
  margin-bottom: 20px;
}

.submitButton {
  background-color: rgb(255, 95, 109);
  color: white;
  border-radius: 5px;
}

/*CellPhone*/
.cellContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.phoneSvgBox {
  height: 603px;
  width: 553px;
}
.phoneSvg {
  background-image: url('https://i.ibb.co/6HV2kLq/Untitled-design-32.png');
  background-repeat: no-repeat;
  height: 603px;
  width: 301px;
}

.rightBox {
  height: 398px;
  width: 555px;
  display: flex;
  flex-direction: column;
}

/*Footer*/
.footerContainer {
  background: rgb(255, 95, 109);
  height: 431px;
  width: 100vw;
}

/*misc*/
button {
  border: none;
  color: rgb(255, 95, 109);
  background-color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  height: 46px;
  width: 197px;
}
